<p id="notice"><%= notice %></p>

<h1>Apartments</h1>
<%= link_to 'Volver al inicio', '/' %>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Building</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.number %></td>
        <td><%= apartment.building.name  %></td>
        <td> <%= link_to 'Mostrar', apartment %></td>
        <td><%= link_to 'Editar', edit_apartment_path(apartment) %></td>
        <td><%= link_to 'Eliminar', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo departamento', new_apartment_path %>

<p><%= link_to '< Volver al listado de Edificios', '/buildings' %></p>
