<p id="notice"><%= notice %></p>

<p>
  <strong>Número:</strong>
  <%= @apartment.number %>
</p>

<p>
  <strong>Edificio:</strong>
  <%= @apartment.building_id %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>
